.green {
    color: green;
}

.red {
    color: red;
}

.wide {
    width: 200px;
}
td {
    height: 26px;
}

button, input[type=submit] {
    width: 110px;
}

/*
input[name=id] {
    visibility: hidden;
}*/
