.green {
    color: green;
}

.red {
    color: red;
}

.wide {
    width: 200px;
}

/*button, input[type=submit] {
    width: 110px;
}*/

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    padding-top: 10px;
}

.hidden {
    display: none;
}