.green {
    color: green;
}

.red {
    color: red;
}

.wide {
    width: 200px;
}

/*button, input[type=submit] {
    width: 110px;
}*/

.table {
    display: table;
}

form.tr, div.tr {
    display: table-row;
}

span.td {
    display: table-cell;
}

.hidden {
    display: none;
}